<tr>
  <td>
    <%= link_to appointment.client_name, appointment_path(appointment) %> 
  </td>
  <td>
    <%= short_time(appointment) %>-<%= end_time(appointment) %>
  </td>
  <td>
  	<%= appointment_edit_delete_links(appointment) %>
  </td>
</tr>	